[submodule "external/GParsing"]
	path = external/GParsing
	url = https://github.com/GustavJones/GParsing
[submodule "external/GArgs"]
	path = external/GArgs
  url = https://github.com/GustavJones/GArgs
[submodule "external/TinyEXIF"]
  path = external/TinyEXIF
  url = https://github.com/cdcseacave/TinyEXIF.git
[submodule "external/stb"]
  path = external/stb
  url = https://github.com/nothings/stb.git
